* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    padding: 20px;
    background-color: black;
    color: white;


}

header a {
    text-decoration: none;
    color: inherit;

}

header a:hover {
    color: crimson;
}

header div {
    display: flex;
    justify-content: space-around;

}


.container {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 80px;
}

.list-task {

    background-color: darkgray;
    border-radius: 20px;
    border: 4px solid black;
    padding: 20px;
    margin-top: 20px;


}

.list-task tbody tr td {
    padding: 15px;
    border-top: 2px solid black;
}

.list-task thead th {
    text-align: start;
    padding: 15px;
}



.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}